{% block content %}
<h3>{{ article.title }}</h3>

<p>{{ article.published_date }}</p>

<p>{{ article.body|linebreaks }}</p>

<ul>
    {% for comment in article.comments.all %}
    <li>
    <p>{{ comment.name }}</p>
    <span class="date"><p>{{ comment.created_at }}</p></span>
    <p>{{ comment.message }}</p>
    </li>
    {% endfor %}
</ul>

<form action="{% url 'create_comment' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="article" value="{{ article.pk }}">
        Name: <input type="text" name="username">
        <br><br>
        <textarea rows="4" cols="50" name="comment" value="Leave comment here"></textarea>
        <br>
        <input type="submit" name="submit" value="submit">
    </form>
{% endblock %}